<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>191681851737-2qdj04lqmpq3h8c8ake7m0h26sepnlve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191681851737-2qdj04lqmpq3h8c8ake7m0h26sepnlve</string>
	<key>API_KEY</key>
	<string>AIzaSyBiRV_LSQ3X9pXnqcN56loEUaCvlcbuMBo</string>
	<key>GCM_SENDER_ID</key>
	<string>191681851737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kableeeee.iNorrisJokes</string>
	<key>PROJECT_ID</key>
	<string>inorrisjokes</string>
	<key>STORAGE_BUCKET</key>
	<string>inorrisjokes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191681851737:ios:a7b9d893016313f4</string>
	<key>DATABASE_URL</key>
	<string>https://inorrisjokes.firebaseio.com</string>
</dict>
</plist>